<!doctype html>
<html lang="{{ lang }}">
    <head>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>

        {% block site_meta %}
        <meta name="robots" content="index,follow">
        <meta name="googlebot" content="index,follow">

        <meta name="google" content="nositelinkssearchbox">
        <meta name="google" content="notranslate">
        {% endblock site_meta %}

        {% block page_meta %}
        <meta name="description" content="{{ config.description | default(value='') | truncate(length=150) }}">
        {% endblock page_meta %}

        {% block css %}
            <link href="{{ get_url(path='style.css', trailing_slash=false) | safe }}" rel="stylesheet"/>
        {% endblock css %}
        <title>{% block title %}{{ config.title }}{% endblock title%}</title>
    </head>
    <body>
        {% block content %}
            <p>please fill this with a template</p>
        {% endblock content %}
        <footer>
            <hr text="&copy; Copyright {{ now() | date(format='%Y') }}" />
            {% if config.extra.social_media and config.extra.social_media | length > 0 %}
            <div class="footer-social-media">
                {% for social in config.extra.social_media %}
                    <a href="{{ social.url | safe }}" target="_blank">{{ social.name }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </footer>
    </body>

    {% block js %}
        <script src="{{ get_url(path='js/script.js', trailing_slash=false) | safe }}"/></script>
    {% endblock js %}
</html>